body
{
    background-color: #5d66c3;
}

*
{
    margin: 0;
}


.headerContainer
{
    width: 425px;
    height: 50px;
    background-color: #2b2d42;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainer p
{
    color: rgb(246, 236, 219);
}

.navigationContinaer
{
    width: 425px;
    height: 100px;
    background-color: #2b2d42;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigationSubContainer
{
    background-color: #232544;
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px; /*62.5% of height*/
}
/*Relationship width-height 2.10 for buttons*/
#pomodoroButton
{
    background-color: #f06262;
    border: none;
    height: 60px;
    width: 120px;
    border-radius: 37.5px;
    margin: 2px;
    color: #2b2d42;
    font-weight: 600;
}

#shortBreakButton, #longBreakButton
{
    background-color: #232544;
    border: none;
    height: 60px;
    width: 120px;
    border-radius: 37.5px;
    margin: 2px;
    color: #7b80b9;
    font-weight: 600;
}

.mainContainer
{
    background-color: #2b2d42;
    width: 425px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerPomodor
{
    background-color:  #656cc1;
    width: 225px;
    height: 225px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#firstCircle
{
    background-color:  #232544;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circleBar
{
    background: conic-gradient(
            #e76868 0deg 360deg,
            #232544 0deg 360deg
            );
    width: 185px;
    height: 185px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#innermostCircle
{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color:  #232544;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#timer
{
    color: rgb(167, 250, 222);
    font-size:50px;
    font-family: 'Montserrat', sans-serif;
}

#buttonStart
{
    color: rgb(167, 250, 222);
    font-size:20px;
    background-color: #232544;
    border-top: 10px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
}

#buttonStart:hover
{
    background-color: #2b2d42;
}

#settingsButton:hover
{
    background-color: #232544;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#buttonStart:active, #settingsButton:active, #buttonSettingsClose:active
{
    transform: scale(0.85);
}

.settingsContainer
{
    background-color: #2b2d42;
    width: 425px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#settingsButton
{
    background-color: #2b2d42;
    border: none;
}


/*Hide configuration panel*/
.containerSettings
{
    width: 405px;
    height: 425px;
    position: absolute;
    top: 50px;
    left: 0px;
    display: none;
    padding: 10px;
    background-color: aliceblue;
    border-radius: 15px;
}

#headerSettings
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

#settingsWord
{
    font-weight: 900;
}

#buttonSettingsClose
{
    border: none;
    border-radius: 3px;
}

.innerContainerButton1 > *, .innerContainerButton2 > *, .innerContainerButton3 > *
{
    height: 17.5px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    background-color: rgb(177, 173, 173);
}

#buttonSettingsClose:hover, .innerContainerButton1 > *:hover, 
.innerContainerButton2 > *:hover,
.innerContainerButton3 > *:hover
{
    background-color: #f06262;
}

#timeTitle
{
    display: flex;
    justify-content: flex-start;
    height: 40px;
}

.containerButtons
{
    display: flex;
    justify-content: space-between;
    height: 100px;
}

#title1, #title2, #title3
{
    color: grey;
    font-size: 12px;
    margin-bottom: 5px;
}

#label3, #label2, #label1
{
    width: 50px;
    padding-left:5px;
    display: flex;
    align-items: center;
}
.innerContainerLabelButtons1, .innerContainerLabelButtons2, .innerContainerLabelButtons3
{
    display: flex;
    flex-direction: row;
    background-color: rgb(177, 173, 173);
    border-radius: 5px;
    height: 35px;
}

.innerContainerButton1 > *, .innerContainerButton2 > *, .innerContainerButton3 > *
{
    border: none;
    display: flex;
    flex-direction: column;
}

.containerStyles, .containerStyles2
{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.containerFonts, .containerColors
{
    height: 50px;
    width: 170px;
    display: flex;
    justify-content: space-evenly;
}

.containerFonts > *, .containerColors > *
{
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#font1:hover, #font2:hover, #font3:hover
{
    background-color: gray;
}

#font1:active, #font2:active, #font3:active, 
#color1:active, #color2:active, #color3:active
{
    transform: scale(0.9);
}

.ContainerButtonApply
{
    display: flex;
    justify-content: center;
    align-items: center;
}

#applyButton
{
    height: 50px;
    width: 100px;
    border-radius: 20px;
    border: none;
    background-color: #f06262;
    color: white;
}

#applyButton:hover
{
    background-color: #ed5151;
}

#applyButton:active
{
    transform: scale(.9);
}

#color1
{
    background-color: #d13e3e;
}

#color2
{
    background-color: #3be0ef;
}

#color3
{
    background-color: #e73bdb;
}

@media (min-width: 768px)
{
    .headerContainer, .navigationContinaer, .mainContainer, .settingsContainer
    {
        width: 768px;
    }
    .containerSettings
    {
        left: 171.5px;
    }

}

@media (min-width: 1024px)
{
    .headerContainer, .navigationContinaer, .mainContainer, .settingsContainer
    {
        width: 1024px;
    }

    .containerSettings
    {
        left: 299.5px;
    }
}
