body
{
    background-color: #5d66c3;
}

*
{
    margin: 0;
}


.headerContainer
{
    width: 425px;
    height: 50px;
    background-color: #2b2d42;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerContainer p
{
    color: rgb(246, 236, 219);
}

.navigationContinaer
{
    width: 425px;
    height: 100px;
    background-color: #2b2d42;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigationSubContainer
{
    background-color: #232544;
    width: 400px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px; /*62.5% of height*/
}
/*Relationship width-height 2.10 for buttons*/
#pomodoroButton
{
    background-color: #f06262;
    border: none;
    height: 60px;
    width: 120px;
    border-radius: 37.5px;
    margin: 2px;
    color: #2b2d42;
    font-weight: 600;
}

#shortBreakButton, #longBreakButton
{
    background-color: #232544;
    border: none;
    height: 60px;
    width: 120px;
    border-radius: 37.5px;
    margin: 2px;
    color: #7b80b9;
    font-weight: 600;
}

.mainContainer
{
    background-color: #2b2d42;
    width: 425px;
    height: 275px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.containerPomodor
{
    background-color:  #656cc1;
    width: 225px;
    height: 225px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#firstCircle
{
    background-color:  #232544;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#circleBar
{
    background: conic-gradient(
            #e76868 0deg 360deg,
            #232544 0deg 360deg
            );
    width: 185px;
    height: 185px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#innermostCircle
{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    background-color:  #232544;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#timer
{
    color: rgb(167, 250, 222);
    font-size:50px;
}

#buttonStart
{
    color: rgb(167, 250, 222);
    font-size:20px;
    background-color: #232544;
    border-top: 10px;
    width: 100px;
    height: 40px;
    border: none;
    border-radius: 10px;
}

#buttonStart:hover
{
    background-color: #2b2d42;
}

#settingsButton:hover
{
    background-color: #232544;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#buttonStart:active, #settingsButton:active
{
    transform: scale(0.85);
}

.settingsContainer
{
    background-color: #2b2d42;
    width: 425px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#settingsButton
{
    background-color: #2b2d42;
    border: none;
}

.containerSettings
{
    width: 425px;
    height: 425px;
    border: 2px solid wheat;
    position: absolute;
    top: 50px;
    left: 0px;
}

.containerSettings
{
    display: none;
}

@media (min-width: 768px)
{
    .headerContainer, .navigationContinaer, .mainContainer, .settingsContainer
    {
        width: 768px;
    }
    .containerSettings
    {
        left: 171.5px;
    }

}

@media (min-width: 1024px)
{
    .headerContainer, .navigationContinaer, .mainContainer, .settingsContainer
    {
        width: 1024px;
    }

    .containerSettings
    {
        left: 299.5px;
    }
}
